/*normalize*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;border: none;outline: none;background: none;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	font-family: 'Roboto', sans-serif;
}

.container{
	display: flex;
}
.generator{
	width: 66.66%
}

.main{
	margin: 146px 140px 40px 140px;
	overflow: hidden;
}
.main__header{
	position: fixed;
	height: 75px;
	width: 66.66%;
	background-color: white;
	z-index: 5;
}
.main__header.active{
	position: static;
	height: 0px;
}

.main__header_icon{
	position: fixed;
    top: 40px;
    left: 140px;
    z-index: 2;
    font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	color: #333333;
}

.main__content{
	margin: 0px 0 43px 0;
}
.main__content_text{
	line-height: 44px;
}

h1.hey{
	font-weight: bold;
	font-size: 32px;
}
p.lets{
	font-weight: 500;
	font-size: 24px;
}


.main__choise{
	margin: 0 0 40px 0;
}

.main__joke{

}

.joke__btn_radio{
    position: relative;
    padding: 0 0 20px 0;
}

.radio__input{
    -webkit-appearance: none;
	appearance: none;
    position: absolute;
}


.radio__label{
	cursor: pointer;
	padding: 0 0 0 35px;
	font-size: 18px;
	color: #333333;
}

.radio__label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #ABABAB;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
}

.radio__label:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #333333;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    transition: opacity .1s linear;
}
.radio__input:checked + .radio__label:before {
    border-color: #333333;
}
.radio__input:checked + .radio__label:after {
    opacity: 1;
}
.joke__search{
	padding: 0px 0 20px 0;
	display: none;
}
.joke__search.active{
	display: block;
}
.radio__search{
	-webkit-appearance: none;
	width: 100%;
	font-size: 16px;
	line-height: 42px;
	color: #333333;
	padding: 0 0 0 15px;
	border-radius: 10px;
	background-color: #ffffff;
	border: 2px solid #333333;
  	outline: none;
}
.choise_categories{
	margin: 0 0 10px 0;
	display: none;
}
.choise_categories.active{
	display: block;
}
.joke__btn_categories{
	display: flex;
	flex-wrap: wrap;
}
.btn__categories {
	margin: 0 10px 10px 0;
	cursor: pointer;
	border: 2px solid #F8F8F8;
    background-color: #ffffff;
    border-radius: 6px;
	padding: 6px 15px;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	color: #ABABAB;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.btn__categories:hover{
	background: #F8F8F8;
	color: #333333;
}
.btn__categories.active{
	background: #F8F8F8;
	color: #333333;
}
.button__get-joke{
	padding: 10px 40px;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.joke__box{
	margin: 0 0 20px 0;
	padding: 40px 40px 45px 40px;
	background: #F8F8F8;
    box-sizing: border-box;
    border-radius: 20px;
}
.main__box_heart {
	display: flex;
	justify-content: flex-end;
	padding: 0 0 10px 0;
}
.heart_btn1:hover{
	background: url('../img/heart2.svg') no-repeat;
}
.main__box_item {
	display: flex;
}
.main__box_col {}
.main__box_col_icon {
	padding: 0px 20px 0px 0px;
}
.main__box_icon {
	display: flex;
 	align-items: center;
 	justify-content: center;
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 50%;
}
.main__box_text {
	padding: 5px 0 25px 0;
	font-size: 18px;
	line-height: 26px;
	color: #333333;
	word-wrap: break-word;
}
.main__box_footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main__box_upd{
	margin: 0 0 0 60px;
	padding: 6px 0;
	font-size: 10px;
	color: #ABABAB;
}
.box__categorie {
	margin: 0 0 0 60px;
    background-color: #FFFFFF;
    border-radius: 6px;
    text-align: center;

}
.box__categorie_text{
	padding: 6px 20px;
	font-weight: 500;
	font-size: 10px;
	color: #333333;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.box__categorie:empty,
.box__categorie_text:empty {
	display: none;
}
.favourite{
	background-color: #F8F8F8;
	width: 33.34%;
	min-height: 100vh;
	/*width: 480px;*/
	position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
	overflow-x: scroll;
}
.favourite__joke{
	margin: 40px;
}
.favtext{
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #ABABAB;
}
.favourite__main_joke{
	margin: 20px 0 0 0;
	height: calc(100vh - 88px);
	overflow: auto;
}
.favourite__box {
	margin: 0px 0 20px 0;
	background: #FFFFFF;
	border: 1px solid #F8F8F8;
	box-sizing: border-box;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.favourite__box_joke{
	padding: 20px;
}
.box_heart {
	display: flex;
	justify-content: flex-end;
	padding: 0 0 10px 0;
}
.favourite__box_item {
	display: flex;
}
.box__col_icon{
	padding: 0px 20px 20px 0px;
}
.box__icon {
	display: flex;
 	align-items: center;
 	justify-content: center;
	width: 40px;
	height: 40px;
	background: #F8F8F8;
	border-radius: 50%;
}
.main__box_id, .box__id {
	font-weight: 500;
	font-size: 10px;
	line-height: 14px;
}
.box__id_link {
	color: #ABABAB;
}
.box__id_text{
	padding: 0 5px 0 0;
	color: #8EA7FF;
	text-decoration: underline;
}
.box__text {
	padding: 5px 0 20px 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
.box__upd {

	font-size: 10px;
	line-height: 14px;
	color: #ABABAB;
}

@media (min-width: 1024px){
	.menu_btn{
		display: none;
	}
}
@media (max-width: 1200px){
	.main__header{
		width: 60%;
	}
	.favourite{
		width: 40%;
	}

@media (max-width: 1023px){
	body.lock{
		overflow: hidden;
	}
	.menu_favourite {}
	.menu_favourite.active{
		z-index: 3;
	}
	.main__header{
		width: 100%;
	}
	.main__header_icon{
    	left: 40px;
	}
	.main__header_icon.active{
		position: absolute;
	    top: 40px;
	}
	.favburger{
		display: block;
		position: relative;
		width: 28px;
		height: 28px;
		background-color: #333333;
		border-radius: 50%;
		transition: 0.4s;
	}
	.favburger:before,
	.favburger:after {
		content: '';
		background-color: #FFFFFF;
		border-radius: 2px;
		position: absolute;
		width: 14px;
		height: 2px;
		transition: 0.4s;
	}
	.favburger:before {
		top: 10px;
		left: 7px;
	}
	.favburger:after {
		bottom: 10px;
		left: 7px;
	}
	.favburger.active:before{
		transform: rotate(45deg) translate(2px, 2px);
	}
	.favburger.active:after{
		transform: rotate(-45deg) translate(2px, -2px);
	}
	.favtext.btn{
		padding: 0 0 0 10px;
	}
	.favourite{
	    right: -480px;
	    transition: all 0.3s ease-in-out;

	}
	.favourite.active{
    	right: 0px;
		width: 55%;
		height: 100%;
		position: fixed;
		display: flex;
		z-index: 2;
	    transition: all 0.3s ease-in-out;
	}
	.favourite__header_text {
		display: none;
	}
	.generator{
		width: 100%;
	}
	.generator.active:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.3);
		z-index: 2;
	}
	.main{
		margin: 146px 40px 40px 40px;
	}
	.main__header_body{
		display: flex;
		justify-content: space-between;
	}
	.favourite__main_joke.active {
		margin: 48px 0 0 0;
	}
	.favourite__main_joke{
		margin: 88px 0 0 0;
	}
	.fav_btn{
		display: flex;
	}
	.favourite__header{
		display: block;
	    position: fixed;
	    margin: 0 0 0 -40px;
	    top: 0;
	    height: 75px;
	    width: 100%;
	    background-color: #F8F8F8;
	}
	.menu_btn{
		cursor: pointer;
		position: fixed;
		top: 40px;
		right: 40px;
		z-index: 3;
	}
}
@media (max-width: 425px) {
	.main__header_icon{
		top: 20px;
		left: 20px;
	}
	.main__header_icon.active{
		position: absolute;
	    top: 20px;
		left: 20px;
	}
	.favourite.active{
		width: 100%;
	}
	.favourite__header{
	    margin: 0 0 0 -20px;
	}
	.favourite__joke{
		margin: 40px 20px 20px 20px;
	}
	.main{
		margin: 126px 20px 20px 20px;
	}

	.joke__box{
		padding: 20px;
	}
	.box__upd_joke{
		margin: 0 0 10px 0;
	}
	.menu_btn{
		right: 20px;
		top: 20px;
	}
	.box__categorie{
		height: 24px;
	}
}
}
.joke__box {
	animation: fadeIn 100ms linear;
	}

@keyframes fadeIn {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
